<div class="container">
  <div class="row">

    <h1><%= @restaurant.name %> 's Dashboard</h1> 
    
    <ul>
      <li>共有<%= @restaurant.comments.count %>筆評論</li>
      <li> 平均價位為xxx </li>
      <li> 有xxx人收藏此餐廳 </li> 
    </ul>  
    

  </div>
</div>